
.nameandstatus{
    margin: 8px;
}

.nameandstatus p{
    margin: 0;
}



.custom-container{
    display: flex;
    justify-content: center;
}

.counters{
    padding-bottom: 8px;
}

.counters .item:not(:last-child){
    margin-right: 10px;
}

.counters .item p{
    margin: 0;
}

.post .creator p {
    margin: 0;
}

.actions .item:not(:last-child){
    margin-right: 10px;
}

.comments{
    width: 100%;
}

.comments form{
    width: 100%;
    display: flex;
}

.comments .comment_input{
    width: 100%;
    height: 55px;
}
